header {
    padding: 10px 0;
    border-bottom: 1px solid grey;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 100;
    .main-links {
        li {
            list-style-type: none;
            float: left;
            margin: 0 15px;
        }
    }
    a img {
        width: 50px;
    }
    .link-part .menu-links {
        line-height: 42px;
    }
    .userPart {
        margin-right: 15px;
    }
    .loggedIn {
        position: relative;
        cursor: pointer;
        min-width: 140px;
        ul {
            display: none;
            position: absolute;
            background: whitesmoke;
        }
        li {
            list-style-type: none;
            a {
                border-bottom: 1px solid gray;
                color: gray;
                // background: rebeccapurple;
                line-height: 40px;
                padding: 0 8px;
                display: block;
                cursor: pointer;
            }
            a:hover {
                background: gray;
                color: whitesmoke;
                text-decoration: none;
            }
        }
    }
    .loggedIn:hover ul {
        display: block;
    }
}