header {
    padding: 10px 0;
    border-bottom: 1px solid grey;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 100;
    a img {
        width: 50px;
    }
    .link-part .menu-links {
        line-height: 42px;
    }
}