<h1 class="text-uppercase text-center text-bold text-primary">film database</h1>

<div [hidden]="!(searchResult$ | async)">
    <app-get-movies [checkLoggedIn]="checkLoggedIn " [movie]="searchResult$ | async "></app-get-movies>
</div>

<!-- <ng-template #moviesSideBar> -->
<div [hidden]="(searchResult$ | async)" *ngFor="let movie$ of movies ">
    <app-get-movies [checkLoggedIn]="checkLoggedIn " [movie]="movie$ | async "></app-get-movies>
</div>
<!-- </ng-template> -->

<!-- <div class="lineOne ">
        <app-get-movies [checkLoggedIn]="checkLoggedIn " type="popular-movies "></app-get-movies>
    </div>

    <div class="lineTwo ">
        <app-get-movies [checkLoggedIn]="checkLoggedIn " type="now-playing-movies "></app-get-movies>
    </div> -->
<!-- </div> -->