<div *ngIf="(movie$ | async) as movie">
    <div id="single-movie" class="movies-side-bar clearfix">
        <div class="col-md-4">
            <div class="movieImageDiv center-block" [ngStyle]="{ 'background-image': 'url('+ siteUrls['pics-link'] + movie?.poster_path + ')'}"></div>
        </div>
        <div class="col-md-8">
            <h2 class="text-left">
                <!-- <span class="grey-color">(original title)</span> -->
                <span class="text-uppercase text-bold text-primary"> {{ movie?.original_title }}</span>
            </h2>
            <p>
                <!-- <span class="grey-color">(title)</span> -->
                <span *ngIf="movie?.original_title !== movie?.title" class="text-uppercase text-bold grey-color"> {{ movie?.title }}</span>
            </p>
            <p class="movie-overview grey-color text-justify">
                {{ movie?.overview }}
            </p>
            <div class="additional-info">
                <p> <span>Budget: </span> <span class="color-grey text-bold">{{movie?.budget | currency}}</span></p>
                <p> <span>Genres: </span>
                    <span class="color-grey text-bold">
                   <span *ngFor="let gen of movie?.genres; let last = last">
                    {{gen.name}}{{!last ? ',' : ''}}
                   </span>
                    </span>
                </p>
                <p> <span>Release date: </span> <span class="color-grey text-bold">{{movie?.release_date}}</span></p>
                <p> <span>Homepage: </span> <a [href]="movie?.homepage" target="_blank" class="color-grey text-bold">{{movie?.homepage}}</a></p>
                <p> <span>Raiting: </span> <span class="color-grey text-bold">{{movie?.vote_average}}</span></p>
            </div>
        </div>
    </div>
</div>