<h1 class="text-uppercase text-center text-bold text-primary">USER DETAILS</h1>
<div class="mentor-center">
    <div class="innerDetails">
        <img src="https://img.icons8.com/bubbles/48/000000/user.png" alt="user pic">
        <p class="text-uppercase text-center"><span class="text-primary  text-bold">name:</span> {{userDetails.name}}</p>
        <p class="text-uppercase text-center"><span class="text-primary  text-bold">surname</span> {{userDetails.surname}}</p>
        <p class="text-uppercase text-center"><span class="text-primary  text-bold">email</span> {{userDetails.email}}</p>
        <p class="text-uppercase text-center"><span class="text-primary  text-bold">phone</span> {{userDetails.phone}}</p>
        <p class="text-uppercase text-center"><span class="text-primary  text-bold">user name</span> {{userDetails.user}}</p>
    </div>
</div>