<div id="all-movies" class="movies-side-bar clearfix">
    <h2 class="text-center">{{ title }}</h2>
    <div title="{{movie.original_title}}" class="col-md-1 outerMovie text-center" *ngFor="let movie of (movies$ | async)?.results">
        <div class="innerMovie">
            <a routerLink="{{siteUrls['single-movie'] + movie.id}}">
                <h2>
                    <span class="text-primary text-bold">{{movie.original_title}}</span>
                    <p class="text-secondary">{{ movie.title }}</p>
                </h2>
                <div class="movieImageDiv center-block" [ngStyle]="{ 'background-image': 'url(https://image.tmdb.org/t/p/w500' + movie.poster_path + ')'}"></div>
            </a>
            <div class="movie-btns">
                <button (click)="addFavorite(movie.id)">add to favorites</button>
            </div>
        </div>
    </div>
</div>